* {
  font-family: 'Rubik';
}

.left-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f1f3f4;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 8px 15px;
  width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar i {
  color: #555;
  cursor: pointer;
  font-size: 16px;
}

.search-bar input {
  width: 400px;
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  padding: 6px;
}



nav {
  background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), #53d2d9, #538fd9);
  transition: background 0.3s ease-in;
}

.dropdown>ul {
  background-color: #69abeb;
}

.login-container {
  background-color: transparent;
}

.nav-item>a {
  transition: transform 0.5s ease;
}

.nav-item>a:hover {
  transform: scale(1.2);
}

.navbar-nav {
  /* background-color: red; */
  width: 22vw;
  display: flex;
  justify-content: space-evenly;
}

.openBidImages {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.imageContainer {
  width: 150px;
  height: 150px;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 160px;
  box-shadow: 4px 4px 20px #858886;
}

.image-wrapper img {
  width: auto;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card-custom {
  border: none;
}

.content-box {
  position: relative;
  top: -40px;
  margin: 0 auto;
  background: #f3e7e7;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  box-shadow: 3px 3px 2 10px #f3e7e7;
  text-align: center;
}

.card-title {
  line-height: 20px;
}

.read-more {
  color: #28a745;
  text-decoration: none;
  font-weight: 500;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle::before {
  display: none !important;
}

img.rounded-circle:hover {
  border: 2px solid #0d6efd;
  /* Bootstrap primary color */
}

.dropdown .dropdown-menu[data-bs-popper] {
  position: absolute;
  top: 120%;
  /* right: 0px; */
  left: -80px;
}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.15) !important;
  /* Darker hover background */
  color: #ffffff !important;
  transition: 0.05s !important;
}

.info-box {
  background-color: #cfd2cf;
}

.bidInput {
  border: 1px solid black;
}

.profile .details {
  /* Light grey background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Soft shadow */
  transition: all 0.3s ease;
}

.formContainer {
  box-shadow: 5px 5px 21px #000000ab;
}

.password {
  transition: none !important;
  box-shadow: none !important;
}

.editDisabled {
  padding: 1.2vh;
  border-radius: 10px;
}

#editDisabled {
  background-color: inherit;
  cursor: not-allowed;
}

.alert-error {
  background-color: #d99d53a6;
}

.alert {
  border-radius: 0px;
}

.card-wrapper {
  min-height: 150px;
}


@media (max-width: 450px) {
  .search {
    width: 170px !important;
    display: flex;
  }

  .right-nav {
    margin-top: 10px;
    width: 310px !important;
    justify-content: space-around;
  }

  .card-title {
    line-height: 20px;
  }

  .navbar-toggler {
    padding: 3px;
  }

  .lead {
    font-size: 1rem !important;
  }

  .fs-5 {
    font-size: 0.95rem !important;
  }

  .fs-6 {
    font-size: 0.85rem !important;
  }

  .card-wrapper {
    flex-direction: column;
  }

  .search-bar {
    width: 170px !important;
    gap: 0 !important;
  }

  .search-bar i {
    font-size: 12px;
  }

  .search-bar input {
    width: 100px !important;
    font-size: 12px;
  }

  .fa-search {
    border-radius: 10px !important;
  }

  .image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: auto;
    height: auto;
    box-shadow: 4px 4px 20px #858886;
  }

  .image-wrapper img {
    width: 98vh;
    /* height: 80vh; */
    border-radius: 10px;
    object-fit: cover;
    /* padding: 20px; */
  }

  .imageContainer {
    max-width: 100% !important;
    width: auto;
  }

}


@media (min-width: 450px) and (max-width: 650px) {
  .search {
    width: 350px !important;
  }

  .search-bar {
    width: 350px !important;
  }

  .search-bar input {
    width: 85%;
  }

  .right-nav {
    margin-top: 10px;
    width: 450px !important;
    justify-content: space-evenly;
  }

  .lead {
    font-size: 1.1rem !important;
  }

  .fs-5 {
    font-size: 1.1rem !important;
  }

  .card-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 1350px) {
  .image-wrapper {
    height: 200px;
  }
}