{% extends 'Auction/layout.html' %} {% block homeactive %} active{% endblock homeactive %} 
{% block title %} NeelamPal {% endblock title %} 
{% block headjs%}

{% endblock headjs %} 
{% block body %} 

        <div class="container-fluid">
              <div class="row mb-5">
    <div class="col">
      <div class="bg mt-4" style="height: 580px">
        <div class="d-flex flex-column align-items-center bg-white" style="height:500px;">
            <h1 class="mb-3">Add Items</h1>
            <div class="border p-4 rounded" style="width: 580px; height:600px">
                 <h5>Enter the item details:</h5>
                <form method="post">
                    {% csrf_token %}
                    <div class="mt-3 mb-3">
                        <label for="itemName" class="form-label">Name:</label>
                        <input type="text" class="form-control" id="itemName" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="minBid" class="form-label">Min Bid Amount:</label>
                        <input type="number" class="form-control" id="minBid" name="min_bid_amount" min="1" step="1" required>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category:</label>
                        <input type="text" class="form-control" id="category" name="category" required>
                    </div>
                    <div class="mb-3">
                        <label for="startTime" class="form-label">Start Time:</label>
                        <input type="datetime-local" class="form-control" id="startTime" name="start_time" required>
                    </div>
                    <div class="mb-3">
                        <label for="endTime" class="form-label">End Time:</label>
                        <input type="datetime-local" class="form-control" id="endTime" name="end_time" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Item</button>
                </form>
            </div>
        </div>
        </div>
      </div>
    </div>
        

          {% endblock body %} {% block tailjs %}{% endblock tailjs %}