
{% extends 'Auction/layout.html' %} 
{% load custom_filters %}
{% block openactive %} active{% endblock openactive %} 
{% block title %} NeelamPal {% endblock title %} 
{% block headjs%}

{% endblock headjs %} 
{% block body %} 


<div class="container-fluid">
 <h3 class="mt-4 mb-5">Ongoing Bids</h3>
 {% for item in activeItemData %}
 <div class="card" style="width: 20rem; padding:10px">
  <div class="d-flex flex-row" style="height:180px">
     {% load static %}
     <img src="{% static 'Auction/images/item_images/' %}{{ item.10 }}" class="card-img-top" alt="..." style="height: 150px; width:150px">
      <div class="card-body">
        <h4 class="card-title" style="height:100px">{{ item.1 }}</h4>
        <h5 class="list-group-item">${% if item.8 %}{{ item.8 }}  {% else %} {{ item.3 }} {% endif %}</h5>
      </div>
  </div>
      <div class="card-body">
        <p class="card-text">{{ item.7 }}</p>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <h5 class="mb-0 ms-3">remaining time : {{ item.9 | getTimeDiff }}</h5>
        </div>
      </div>
  </div>
  {% endfor %}
</div>

{% endblock body %}
