{% extends 'Auction/layout.html' %} 
{% load custom_filters %}
{% load static %}
{% block categoryactive %} active{% endblock categoryactive %} 
{% block title %} NeelamPal {% endblock title %} 
{% block headjs%}

{% endblock headjs %} 
{% block body %} 

<h3 class="mt-4 mb-4 ms-3 fs-1 fw-bold">Ongoing Bids</h3>
{% if not activeItemData %}
  <div class="contianer-fluid p-4">
    <p class="fs-3">
      No Ongoing Auctions
    </p>
  </div>
{% else %}

<div class="container-fluid col-md mt-3 mb-3" >
  <div class="row ms-auto me-auto justify-content-center justify-content-sm-start"> 
      {% for item in activeItemData %}
          <div class="col-10 col-sm-6 col-md-4 col-lg-3 mb-5">
            <div class="card card-custom">
              <div class="image-wrapper text-center">
                <img class="img-fluid" src="{{ item.5 }}" alt="...">
              </div>
              <div class="content-box">
                <div class="card-title fs-4 fw-bold">
                  {{ item.1|truncatechars:30 }}
                </div>
                <div class="card-bid-amount fw-bold">
                  $ {% if item.3 %}{{ item.3 }}{% else %}{{ item.2 }}{% endif %}
                </div>
                <div class="card-time">
                  <b>Remaining time : </b>{{ item.4 | getTimeDiff }}
                </div>
                <a class="read-more" href="/item/{{ item.0 }}"> Show Full Info</a>
              </div>
            </div>
          </div>
       {% endfor %}
  </div>
</div>
{% endif %}
  
<h3 class="mt-5 mb-4 ms-3 fs-1 fw-bold">Upcoming Bids</h3>
{% if not upcomingItemData %}
  <div class="contianer-fluid p-4">
    <p class="fs-3">
      No upcoming Auctions
    </p>
  </div>
{% else %}

  <div class="container-fluid col-md mt-3 mb-3">
  <div class="row ms-auto me-auto justify-content-center justify-content-sm-start">
      {% for item in upcomingItemData %}
        <div class="col-10 col-sm-6 col-md-4 col-lg-3 mb-5">
          <div class="card card-custom">
            <div class="image-wrapper text-center">
              <img class="img-fluid" src="{{ item.4 }}" alt="...">
            </div>
            <div class="content-box">
              <div class="card-title fs-4 fw-bold">
                {{ item.1|truncatechars:30 }}
              </div>
              <div class="card-bid-amount fw-bold">
                $ {{ item.2 }}
              </div>
              <div class="card-time">
                <b>Start Time :</b> {{ item.3 }}
              </div>
              <a class="read-more" href="/item/{{ item.0 }}"> Show Full Info</a>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
  </div>
{% endif %}
 

<h3 class="mt-5 mb-4 ms-3 fs-1 fw-bold">Closed Bids</h3>
{% if not endedItemData %}
  <div class="contianer-fluid p-4">
    <p class="fs-3">
      No Past Auctions
    </p>
  </div>
{% else %}

    <div class="container-fluid col-md mt-3 mb-3">
      <div class="row ms-auto me-auto justify-content-center justify-content-sm-start">
        {% for item in endedItemData %}
            <div class="col-10 col-sm-6 col-md-4 col-lg-3 mb-5">
              <div class="card card-custom">
                <div class="image-wrapper text-center">
                  <img class="img-fluid" src="{{ item.4 }}" alt="...">
                </div>
                <div class="content-box">
                  <div class="card-title fs-4 fw-bold">
                    {{ item.1|truncatechars:30 }}
                  </div>
                  <div class="card-bid-amount fw-bold">
                    $ {% if item.3 %}{{ item.3 }}{% else %}{{ item.5 }}{% endif %}
                  </div>
                  <div class="card-time">
                    <b>End Time :</b> {{ item.2 }}
                  </div>
                  <a class="read-more" href="/item/{{ item.0 }}"> Show Full Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
{% endif %}
{% endblock body %}