{% extends 'Auction/layout.html' %} {% load static %}
{% block openactive %} active{% endblock openactive %} 
{% block title %} NeelamPal {% endblock title %} 
{% block headjs%}

{% endblock headjs %} 
{% block body %} 

<div id="app"></div>

<div class="container-fluid" style="padding: 20px">
  <div class="row mb-5">
    <div class="col">
      <div class="bg mt-4" style="height: 400px">
        <div class="d-flex justify-content-between">
          <div class="hero-text">
            <h1 class="header mt-4">Welcome to NeelamPal</h1>
            <p class="lead mt-4 me-4">
              Discover the best deals and unique items at our online auction
              platform. Join us to bid on a wide range of products and find your
              next treasure!lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Sed do incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt deserunt mollit anim id est
              laborum.
            </p>
          </div>

          {% load static %}
          <img
            src="{% static 'Auction/images/hero_image.jpg' %}"
            class="img-fluid"
            alt="Hero Image"
            style="height: 400px"
          />
        </div>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="col-md-8">
      <h5 id='open-bids'>Open for bidding</h5>
      {% for item in itemData %}   
        <div class="d-flex align-items-center mb-5 mt-5 border border-dark border-2 rounded-3">
          <div class="imageContainer p-2 col-md-2">
            <img class="openBidImages" src="{% static 'Auction/images/item_images/' %}{{ item.10 }}" alt="{{ item.1 }}" >
          </div>
          <div class="mx-1 col-md-8 p-2 pt-3" style="height: 150px">
            <div class="d-flex justify-content-between px-3">
              <div class="fw-bold mb-2 fs-3">
                {{ item.1 }}
              </div>
              <div class="fw-light fs-4">
                {{ item.2 }}                
              </div>

            </div>
            <div class="row px-2">
              <div class="fs-5">
                By : Organization name = {{ item.4 }} <br>
              </div>
              <div class="fs-6">
                Description = {{ item.7 | truncatechars:100 }}               
                </div>

            </div>
              
              
          </div>    
          <div class="d-flex flex-column mx-1 justify-content-center border-start border-dark border-1 col-md-2 pe-4" style="height: 150px">
            <div class="row justify-content-center mt-3 mb-3 px-2 fs-5">${% if item.8 %}{{ item.8 }}  {% else %} {{ item.3 }} {% endif %}</div>
            <div class="row justify-content-center mt-2 mb-1 px-2 fs-6">{{ item.9 }}</div>
          </div>    
        </div>        
      {% endfor %}
    </div>

      
    <div class="col-md-4">
      <h5>Notices</h5>
      <div
        class="bg-secondary mt-5"
        style="height: 100%; min-height: 280px"
      ></div>
    </div>
  </div>
</div>

{% endblock body %}

{% block tailjs %} {% endblock tailjs %}