{% extends 'Auction/layout.html' %} 
{% load static %}
{% load custom_filters %}
{% block openactive %} active{% endblock openactive %} 
{% block title %} NeelamPal {% endblock title %} 
{% block headjs%}

{% endblock headjs %} 
{% block body %} 

<div id="app"></div>

<div class="container-fluid" style="padding: 20px">
  <div class="row mb-5">
    <div class="col">
      <div class="py-4">
        <div class="row align-items-center">
          <div class="col-md-7 col-12 mb-4 mb-md-0">
            <h1 class="header mt-4">Welcome to NeelamPal</h1>
            <p class="lead mt-4 me-lg-4">
              NeelamPal is a powerful online auction platform that brings together organizations and bidders in one seamless digital 
              space. Organizations can easily list items, set starting bids, and manage auctions, while bidders can explore listings,
              place real-time bids, and track their progress, all from the comfort of their devices. Designed for transparency,
              efficiency, and ease of use, NeelamPal makes online auctions simple and secure.
            </p>
            <p class="lead mt-4 me-4">
              Join today and experience smarter, faster bidding.
            </p>
          </div>

          {% load static %}
          <div class="col-md-5 col-12 text-center">
            <img
              src="{% static 'Auction/images/hero_image.jpg' %}"
              class="img-fluid rounded"
              alt="Hero Image"
              style="max-height: 400px;"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid m-0" style="padding: 20px">
  <div class="row m-0 ps-lg-0">
    <div class="col-lg-7 p-0">
      <h3 class="fw-bold text-decoration-underline" id='open-bids'>Open for bidding</h3>
      {% for item in itemData %}   
        <div class="d-flex align-items-center mb-5 mt-5 border border-dark border-2 rounded-3 card-wrapper">
          <div class="imageContainer p-2 col-md-2 col-sm-3 col-lg-2">
            <img class="openBidImages" src="{{ item.10 }}" alt="{{ item.1 }}" >
          </div>
          <div class="col-md-10 col-sm-10 col-12 col-lg-10 row justify-content-evenly">
            <div class="mx-1 col-8 p-1 pt-3 pb-2">
                <div class="fw-bold mb-2 fs-4 text-decoration-underline col-md-7">
                  {{ item.1 }}
                </div>
              

              <div class="row px-1">
                <div class="fs-5">By: {{ item.4 }}<br></div>
                <div class="fs-6 mt-1 mb-1">{{ item.7 | truncatechars:70 }}
                  <a class="read-more" href="/item/{{ item.0 }}">Show Full Info</a>               
                </div>
              </div>              
            </div>    
            <div class="d-flex flex-column justify-content-center col-3 p-0 p-lg-1" style=" overflow: hidden; ">
              <div class="fw-light fs-5 opacity-75 text-center pe-lg-1 ps-lg-1">{{ item.2 }}</div>
              <div class="row justify-content-center mt-3 pe-lg-1 ps-lg-1 fs-5">${% if item.8 %}{{ item.8 }}{% else %}{{ item.3 }}{% endif %}</div>
              <div class="row justify-content-center mt-3 pe-lg-1 ps-lg-1 fs-6" id="timediff{{ item.0 }}">{{ item.9 | getTimeDiff }}</div>
            </div>    
          </div>
        </div>        
      {% endfor %}
    </div>

      
  </div>
</div>

{% endblock body %}

{% block tailjs %} {% endblock tailjs %}