{% extends 'Auction/layout.html' %} 
{% load static %}
{% load custom_filters %}
{% block openactive %} active{% endblock openactive %} 
{% block title %} NeelamPal {% endblock title %} 
{% block headjs%}

{% endblock headjs %} 
{% block body %} 

<div id="app"></div>

<div class="container-fluid" style="padding: 20px">
  <div class="row">
    <div class="col">
      <div class="py-4">
        <div class="row align-items-center">
          <div class="col-12 mb-2">
            <h1 class="header mt-3 text-center mb-3">Welcome to <span style="font-family:'Mukta'">नीलाम</span><span style="font-family:'Itim'">Pal</span></h1>
            <p class="lead mt-4 me-lg-4">
              <span style="font-family:'Mukta'; font-size: 24px;">नीलाम</span><span style="font-family:'Itim'; font-size: 24px;">Pal</span> is a powerful online auction platform that brings together organizations and bidders in one seamless digital 
              space. Organizations can easily list items, set starting bids, and manage auctions, while bidders can explore listings,
              place real-time bids, and track their progress, all from the comfort of their devices. Designed for transparency,
              efficiency, and ease of use, <span style="font-family:'Mukta'; font-size: 24px;">नीलाम</span><span style="font-family:'Itim'; font-size: 24px;">Pal</span> makes online auctions simple and secure.
            </p>
            <p class="lead mt-4 me-4">
              Join today and experience smarter, faster bidding.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid m-0" style="padding: 20px">
  <div class="row m-0 ps-lg-0 justify-content-between">
    <div class="col-lg-7 p-0">
      <h3 class="fw-bold text-decoration-underline" id='open-bids'>Open for bidding</h3>
      {% for item in itemData %}   
        <div class="d-flex align-items-center mb-5 mt-5 border border-dark border-2 card-wrapper bg-white">
          <div class="imageContainer p-2 col-md-2 col-sm-3 col-lg-2">
            <img class="openBidImages" src="{{ item.10 }}" alt="{{ item.1 }}" >
          </div>
          <div class="col-md-10 col-sm-10 col-12 col-lg-10 row justify-content-evenly">
            <div class="mx-1 col-8 col-lg-7 p-1 pt-3 pb-2">
                <div class="fw-bold mb-2 fs-4 text-decoration-underline col-md-12">
                  {{ item.1 }}
                </div>
              

              <div class="row px-1">
                <div class="fs-5">By: <a class="profile-a" href="/profile/organization/{{item.11}}">{{item.4}}</a><br></div>
                <div class="fs-6 mt-1 mb-1">{{ item.7 | truncatechars:70 }}
                  <a class="read-more" href="/item/{{ item.0 }}">Show Full Info</a>               
                </div>
              </div>              
            </div>    
            <div class="d-flex flex-column justify-content-center col-3 col-lg-4 p-0 p-lg-1" style=" overflow: hidden; ">
              <div class="fw-light fs-5 opacity-75 text-center pe-lg-1 ps-lg-1">{{ item.2 }}</div>
              <div class="row justify-content-center mt-3 pe-lg-1 ps-lg-1 fs-5">${% if item.8 %}{{ item.8 }}{% else %}{{ item.3 }}{% endif %}</div>
              <div class="row justify-content-center mt-3 pe-lg-1 ps-lg-1 fs-6" id="timediff{{ item.0 }}">{{ item.9 | getTimeDiff }}</div>
            </div>    
          </div>
        </div>        
      {% endfor %}
    </div>
    <div class="col-lg-4 p-0 text-center">
      <h3 class="fw-bold text-decoration-underline" id='open-bids'>Winning Bids</h3>
        <div class="row mt-5 text-start justify-content-center">
          <div class="col-5 border-start border-top border-bottom border-2 border-dark py-2 bg-white">
            <h5 class="fw-bold">Item Name</h5>
          </div>
          <div class="col-5 border border-2 border-dark py-2 bg-white">
            <h5 class='fw-bold'>Highest Bidder ID</h5>
          </div>
        </div>
      {% for data in winner %}
        <div class="row justify-content-center text-start">
          <div class="col-5 border-start border-bottom border-2 border-dark pt-2 bg-white">
            <p><a class="profile-a" href="/item/{{data.0}}">{{data.1}}</a></p>
          </div>
          <div class="col-5 border-end border-start border-bottom border-2 border-dark pt-2 bg-white">
            <p><a class="profile-a" href="/profile/bidder/{{data.2}}">{{data.2}}</a></p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock body %}

{% block tailjs %} {% endblock tailjs %}