{% extends 'Auction/layout.html' %}
{% load custom_filters %}
{% load static %}
{% block openactive %} active{% endblock openactive %}
{% block title %} NeelamPal {% endblock title %}
{% block headjs%}

{% endblock headjs %}
{% block body %}

<div class="container-fluid p-4 text-center">
  <div class="container info-box row m-5 p-5">
    <div class="col-md-5">
      <div class="image-container mb-5">
        <img src="{% static 'Auction/images/item_images/' %}{{ item.10 }}" class="img-fluid rounded-4" alt="Item image">
      </div>
      {% if user.is_authenticated and user.user_type == "Bidder" %}
        <form method="POST" action="/bid">
          {% csrf_token %}
          <div class="row ps-5 pe-5 gap-3">
            <input type="hidden" name="item_id" value="{{ item.0 }} ">
            <div class="text-center">
              <label class="fs-5" for="bid_amount">Your Bid Amount:</label>
            </div>
            <input type="number" name="bid_amount" step="1" min="{{ item.3 }}" class="form-control bidInput" placeholder="$ {{ item.3 }}" required>
            <button type="submit" class="btn btn-primary p-2">Place Bid</button>
          </div>
        </form>
      {% endif %}
      {% if user.is_authenticated and user.user_type == "Organization"  and item.11 == user.id%}
        <form method="POST" action="/edit">
          {% csrf_token %}
          <div class="row gap-3 ps-5 pe-5">
            <input type="hidden" name="item_id" value="{{ item.0 }} ">
            <button type="submit" class="btn btn-primary p-2">Edit</button>
          </div>
        </form>
      {% endif %}
      
    </div>
    <div class="ms-5 col-md-5 text-start">
      <h2 class="text-center">{{ item.1 }}</h2>
      <br>
      <p><span class="fw-bold">Category : </span>{{ item.2 }}</p>
      <p><span class="fw-bold">Organization : </span>{{ item.4 }}</p>
      <p><span class="fw-bold">Min Bid : </span>$ {{ item.3 }}</p>
      <p><span class="fw-bold">Highest Bid : </span>${{ item.8|default:"No bids yet" }}</p>
      <p><span class="fw-bold">Start : </span>{{ item.5 }}</p>
      <p><span class="fw-bold">End : </span>{{ item.6 }}</p>
      <p><span class="fw-bold"> Remaining : </span> {{ item.9|getTimeDiff }}</p>
      <p><span class="fw-bold">Description:</span><br> 
          {{ item.7 }}
      </p>
    </div>
  </div>
</div>
{% endblock body %}