{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block headjs %}{% endblock headjs %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}{% endblock css %}
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" 
    crossorigin="anonymous"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'Auction/css/app.css' %}">
    <link rel="icon" href="{% static 'Auction/images/logoNeelamPal.png' %}" type="image/png">
    {% if not user.is_authenticated %}
    <style>
      .password {
        transition: none !important;
        box-shadow: none !important;
      }
      .highlight-border {
        border-radius: 0.5rem;
        box-shadow: 0px 0px 4px 3px #113770ff;
      }          
    </style>
    {% endif %}
    
    
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img
            src="{% static 'Auction/images/navLogo.png' %}"
            class="img-fluid"
            alt="logo"
            style="height: 50px; width: 200px; padding-left: 10px"
          /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% block openactive %}{% endblock openactive %}" aria-current="page" href="/#open-bids">Open Bids</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% block categoryactive %}{% endblock categoryactive %}" href="#">Category</a>
        </li>
        {% if user.is_authenticated and user.first_name == "Organization" %}
          <li class="nav-item">
            <a class="nav-link{% block addItemactive %}{% endblock addItemactive %}" href="/addItem">Add Item</a>
          </li>
        {% endif %}
      </ul>
    </div>
    <form class="d-flex" method="GET" , action="#">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search" name="search/"/>
      <button class="btn btn-outline-success mx-2" type="submit">
        Search
      </button>
    </form>
    {% if not user.is_authenticated %}
    <button type="button" class="btn btn-secondary mx-2" data-bs-toggle="modal" data-bs-target="#loginModal">
      Login
    </button>
    {% endif %}
    {% if user.is_authenticated %}    
      <form class="d-flex" method="POST" , action="/logout">
        {% csrf_token %}
        <button class="btn btn-secondary mx-2" type="submit">Logout</button>
      </form>
    {% endif %}
    
  </nav>
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

  {% if not user.is_authenticated %}
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 1.1rem;">
          <div class="card bg-dark text-white"  style="border-radius: 1rem;">
            <div class="card-body p-4 text-center">

              <form method="POST" action="/login"> 
                {% csrf_token %}
                <div class="pb-5 pt-3">
                  <h2 class="fw-bold mb-2 pb-5 text-uppercase">Login</h2>
                  
                  <div class="form-outline form-white mb-4" style="display: flex;">
                    <label class="form-label col-2 pt-2 mt-1 pe-3 text-start" for="typeusernameX" style="width: 20%;">Username</label>
                    <input type="text" name="username" id="typeusernameX" placeholder="username" class="form-control form-control-lg col-9" style="width: 80%;" required />
                  </div>

                  <div class="form-outline form-white mb-4" style="display: flex;">
                    <label class="form-label col-2 pt-2 mt-1 pe-3 text-start" for="password" style="width: 20%;">Password</label>
                    <div class="input-group" id="LoginPasswordDiv" style="width: 80%;">
                      <input type="password" placeholder="password" name="password" id="LoginPassword" class="form-control form-control-lg password" required style="border-right:0px" onfocus="handleFocus(this, 'LoginPasswordDiv')", onblur="handleBlur(this, 'LoginPasswordDiv')"/>
                      <span class="input-group-text bg-white  p-0 pe-2" onclick="togglePasswordVisibility('LoginPassword', 'toggleLoginPasswordIcon')" style="cursor: pointer;">
                        <i class="far fa-eye-slash" id="toggleLoginPasswordIcon"></i>
                      </span>
                    </div>
                  </div>

                  <p class="small mb-2 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                </div>
              </form>

              <div>
                <p class="mb-0">Don't have an account? <a href="#registerModal" class="text-white-50 fw-bold" data-bs-toggle="modal" data-bs-dismiss="modal">Sign Up</a></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- Wider modal -->
        <div class="modal-content" style="border-radius: 1.1rem;">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-4 text-center">

              <form method="POST" action="/register">
                {% csrf_token %}
                <div class="pb-3 pt-2">
                  <h2 class="fw-bold mb-4 text-uppercase">Register</h2>
                  <input type="hidden" name="userType" value="Bidder" id="userType">

                  <div class="btn-group mb-4" role="group" aria-label="User Type Switch">
                    <input type="radio" class="btn-check" name="user_type" id="bidderRadio" autocomplete="off" value="bidder" checked>
                    <label class="btn btn-outline-light" for="bidderRadio" onclick="switchType('bidder')">Bidder</label>

                    <input type="radio" class="btn-check" name="user_type" id="orgRadio" autocomplete="off" value="organization">
                    <label class="btn btn-outline-light" for="orgRadio" onclick="switchType('organization')">Organization</label>
                  </div>

                  <div class="form-outline form-white mb-3" style="display: flex;">
                    <label class="form-label col-3 pt-2 mt-1 pe-3 text-start" for="nameInput" style="width: 25%;">Name</label>
                    <input type="text" name="name" id="nameInput" placeholder="Enter full name" class="form-control form-control-lg" style="width: 75%;" required />
                  </div>

                  <div class="form-outline form-white mb-3" style="display: flex;">
                    <label class="form-label col-3 pt-2 mt-1 pe-3 text-start" for="contactInput" style="width: 25%;">Contact Number</label>
                    <input type="tel" pattern="^[0-9]{7,10}$" maxlength="10" minlength="7" name="contact" id="contactInput" placeholder="Enter contact number" class="form-control form-control-lg" style="width: 75%;" required />
                  </div>

                  <div class="form-outline form-white mb-3" style="display: flex;">
                    <label class="form-label col-3 pt-2 mt-1 pe-3 text-start" for="addressInput" style="width: 25%;">Address</label>
                    <input type="text" name="address" id="addressInput" placeholder="Enter address" class="form-control form-control-lg" style="width: 75%;" required />
                  </div>

                  <div id="username" class="form-outline form-white mb-3" style="display: flex;">
                    <label class="form-label col-3 pt-2 mt-1 pe-3 text-start" for="usernameInput" style="width: 25%;" id="usernameInputLabel">Citizenship No</label>
                    <input type="text" name="usernameInput" id="usernameInput" placeholder="Enter citizenship number (username)" class="form-control form-control-lg" style="width: 75%;" required />
                  </div>

                  
                  <div class="form-outline form-white mb-4" style="display: flex;">
                    <label class="form-label col-3 pt-2 mt-1 pe-3 text-start" for="registerPassword" style="width: 25%;">Password</label>
                    <div class="input-group" id="registerPassDiv" style="width: 75%;">
                      <input type="password" placeholder="Create password" name="password" id="registerPassword" class="form-control form-control-lg password" required style="border-right:0px"  onfocus="handleFocus(this, 'registerPassDiv')", onblur="handleBlur(this, 'registerPassDiv')"/>
                      <span class="input-group-text bg-white p-0 pe-2" onclick="togglePasswordVisibility('registerPassword', 'toggleRegisterPasswordIcon')" style="cursor: pointer;">
                        <i class="far fa-eye-slash" id="toggleRegisterPasswordIcon"></i>
                      </span>
                    </div>
                  </div>

                  
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
                </div>
              </form>

              <div>
                <p class="mt-3 mb-0">Already have an account? <a href="#loginModal" data-bs-toggle="modal" data-bs-dismiss="modal" class="text-white-50 fw-bold">Login</a></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  {% endif %}
    



  {% block body %}{% endblock body %}

  {% block tailjs %}{% endblock tailjs %}
  <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="{% static 'Auction/js/app.js' %}"></script>
  {% if not user.is_authenticated %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      if (window.location.hash === "#login") {
        var loginModal = new bootstrap.Modal(document.getElementById("loginModal"));
        loginModal.show();
      }
    });
    document.getElementById("contactInput").addEventListener("keypress", function (e) {
    const charCode = e.charCode || e.keyCode;

      // Allow: only digits (0–9)
      if (charCode < 48 || charCode > 57) {
        e.preventDefault(); // Block the key press
      }
    });
    contactInput.addEventListener("paste", function (e) {
      const paste = (e.clipboardData || window.clipboardData).getData("text");
      if (!/^\d+$/.test(paste)) {
        e.preventDefault();
      }
      });
      contactInput.addEventListener("input", function () {
      const value = contactInput.value;

      if (!/^\d{7,10}$/.test(value)) {
        if (value.length < 7) {
          contactInput.setCustomValidity("Contact number must be at least 7 digits.");
        } else if (value.length > 10) {
          contactInput.setCustomValidity("Contact number must not exceed 10 digits.");
        } else {
          contactInput.setCustomValidity("Only digits are allowed.");
        }
      } else {
        contactInput.setCustomValidity(""); // Clear error
      }
    });
    </script>
  <!-- <script>
    const input = document.getElementById('inputPassword');
    const passDiv = document.getElementById('PasswordDiv');

    input.addEventListener('focus', () => {
      passDiv.classList.add('highlight-border');
    });
    input.addEventListener('blur', () => {
      passDiv.classList.remove('highlight-border');
    });
  </script> -->
{% endif %}
  
</body>

</html>