{% extends 'Auction/layout.html' %} 
{% load static %}
{% load custom_filters %}
{% block title %} NeelamPal {% endblock title %} 
{% block headjs%}

{% endblock headjs %} 
{% block body %} 


  {% if not searchResults %}
  <div class="contianer-fluid p-4">
    <p class="fs-3">
      No Items Found
    </p>
  </div>
  {% else %}
  <div class="container-fluid col-md mt-5 mb-3" >
  <div class="row ms-auto me-auto justify-content-center justify-content-md-start"> 
      {% for item in searchResults %}

      <div class="col-11 col-sm-6 col-md-4 col-lg-3 mb-5">
          <div class="card card-custom mb-3">
            <a href="/item/{{ item.0 }}">
              <div class="image-wrapper text-center">
                <img class="img-fluid" src="{{ item.4 }}" alt="...">
              </div>
            </a>
            <div class="content-box">
              <div class="card-title fs-5 fw-bold">
                {{ item.1|truncatechars:25 }}
              </div>
              <div class="card-bid-amount fw-bold fs-6">
                $ {{ item.2 }}
              </div>
              <div class="card-time fs-6">
                <b>Start Time :</b> {{ item.3 }}
              </div>
              <a class="read-more fs-6" href="/item/{{ item.0 }}"> Show Full Info</a>
            </div>
          </div>
        </div>

      {% endfor %}
   </div>
</div>
{% endif %}

{% endblock body %}