{% extends 'Auction/layout.html' %} 
{% load custom_filters %}
{% load static %}
{% block title %} NeelamPal {% endblock title %} 
{% block headjs%}

{% endblock headjs %} 
{% block body %} 

    <div class="container-fluid row mt-3 mb-3">
    <div class="row ms-auto me-auto justify-content-center justify-content-md-start">
            {% for item in itemData %}
            <div class="col-11 col-sm-6 col-md-4 col-lg-3">
                <div class="card card-custom">
                    <div class="image-wrapper text-center">
                    <img class="img-fluid" src="{{ item.4 }}" alt="...">
                    </div>
                    <div class="content-box">
                    <div class="card-title fs-4 fw-bold">
                        {{ item.1|truncatechars:30 }}
                    </div>
                    <div class="card-bid-amount fw-bold">
                        $ {{ item.2 }}
                    </div>
                    <div class="card-auction-status">
                    <b>Auction Status :</b>  {{ item.3|auctionStatus:item.5 }}
                    </div>
                    <div class="card-time">
                        <b>Start Time :</b> {{ item.3 }}
                    </div>
                    <a class="read-more" href="/item/{{ item.0 }}"> Show Full Info</a>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
  </div>


{% endblock body %}