{% extends 'Auction/layout.html' %} 
{% load custom_filters %}
{% load static %}
{% block title %} NeelamPal {% endblock title %} 
{% block headjs%}

{% endblock headjs %} 
{% block body %} 

    <div class="container-fluid d-flex flex-col gap-3 mt-3 mb-3">
        {% for item in itemData %}
            <div class="col-md-4 cards">
            <div class="card card-custom">
                <div class="image-wrapper">
                <img class="img-fluid" src="{% static 'Auction/images/item_images/' %}{{ item.4 }}" alt="...">
                </div>
                <div class="content-box">
                <div class="card-title fs-4 fw-bold">
                    {{ item.1|truncatechars:30 }}
                </div>
                <div class="card-bid-amount fw-bold">
                    $ {{ item.2 }}
                </div>
                <div class="card-auction-status">
                   <b>Auction Status :</b>  {{ item.5|auctionStatus:item.6 }}
                </div>
                <div class="card-time">
                    <b>Start Time :</b> {{ item.3 }}
                </div>
                <a class="read-more" href="/item/{{ item.0 }}"> Show Full Info</a>
                </div>
            </div>
            </div>
            {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
                </div> <div class="container-fluid d-flex flex-col gap-3 mt-3 mb-3">
            {% endif %}
        {% endfor %}
  </div>


{% endblock body %}